{% extends 'base.html.twig' %}

{% block body %}

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About the Calculator</h2>
            <p class="lead">This is a Calculator to Create currency pairs, Delete them, Update them and of course calculate your desired amount of money.</p>
            <ul>
              <li>Calculate any amount of price from the stored exchange rates</li>
              <li>Create Exchange rate pairs</li>
              <li>Delete them</li>
              <li>And edit any pair you wish</li>
            </ul>

            <p class="lead">So Navigate through the main menu to perform what you like or Click to <a href={{path("calculator")}}>Calculate</a> or to go to our supported <a href={{path("table_currencies")}}>Currencies Page</a> or to <a href={{path("new")}}>Create</a> one.</p> 
          </div>
        </div>
      </div>
    </section>
{% endblock %}

